<!DOCTYPE html>
<html>
<head>
<title>Stock Profit Calculator</title>
</head>
<body>
<h1>PROFILE OUTPUT</h1>
<table>
	<tbody>
        
	<tr>
		<td> Current Date and Time: </td>
		<td> {{dateTime}} </td>
	</tr>


	<tr>
		<td> Full Name of The Copmany: </td>
		<td> {{fullName}} </td>
	</tr>

	<tr>
		<td> Stock Price: </td>
		<td> {{price}} </td>
	</tr>

        <tr>
		<td> Value Change: </td>
		<td> {{change}} </td>
	</tr>

         <tr>
		<td> Percentage Change: </td>
		<td> {{changePer}} </td>
	</tr>

	

	</tbody>
</table>
<br/><br/>


</body>
</html>
